@import "./base.scss";

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__film {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 430px;
    position: relative;
    margin: 10px;
    overflow: hidden;

    &-img {
      position: absolute;
      align-self: center;
      height: 100%;
      z-index: -1;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      margin: 10px;
    }

    &-info {
      margin: 10px;
      color: white;
      max-height: 60%;
      -webkit-line-clamp: 12;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    &-rate {
      color: orange;
    }

    &-title {
      margin-bottom: 10px;
    }
  }
}
